@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Palanquin+Dark:wght@600&display=swap');

h2{
    text-align: center;
    font-family: 'Calistoga', cursive;
    font-size: 36px;
}